<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <!-- Add this line in the head section of your HTML -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- <script src="script.js?version=1.0"></script> -->

    <title>Log Analyzer Dashboard</title>
</head>

<body>
    <!-- Add the following button to your existing HTML structure -->

    <div class="dashboard">
        <!-- Title and Generate Report Button -->
        <div class="header">
            <h1 class="dashboard-title">Log Analyzer</h1>
            <!-- <button class="generate-report-btn">Generate Report</button> -->
            <button class="generate-report-btn" onclick="generateReport()">
                Generate Report
            </button>
            <button class="refresh-btn" onclick="refreshData()">
                <i class="fas fa-sync-alt"></i> <!-- Font Awesome refresh icon -->
            </button>
        </div>
        <!-- Section 1: Overview -->
        <h2>Overview</h2>
        <section class="overview">
            <div class="box" id="totalFileCount">

                <!-- <div class="box" id="totalFile"> -->
                <h2>Total File</h2>
                <!-- <p>1,555</p> -->
                <p>
                    <%= overview.file %>
                </p>
                <!-- </div> -->

            </div>
            <div class="box" id="totalFileSize">
                <h2>Total Size</h2>
                <!-- <p>15gb</p> -->
                <p>
                    <%= overview.size %>
                </p>

            </div>
            <div class="box" id="totalServices">
                <h2>Total Services</h2>
                <p>
                    <%= overview.totalMicroservices %>
                </p>
            </div>
            <!-- <div class="box" id="status">
                <h2>Status</h2>

                <p>
                    <%= overview.level %> <span class="status-indicator normal"></span>
                </p>

            </div> -->
            <div class="box" id="status">
                <h2>Status</h2>
                <p>
                    <%= overview.level %>
                        <span class="status-indicator <%= getStatusIndicatorClass(overview.level) %>"></span>
                </p>
            </div>
            <div class="box" id="uptime">
                <h2>Uptime</h2>
                <p>
                    <%= overview.uptime %>
                </p>
            </div>
        </section>



        <!-- Section 3: List of Services -->
        <section class="service-list">
            <h2>By Services</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Service Name</th>
                            <th>Log Path</th>
                            <th>Size</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% servicesData.forEach(service=> { %>
                            <tr>
                                <td>
                                    <%= service.serviceName %>
                                </td>
                                <td>
                                    <%= service.logFolderPath %>
                                </td>
                                <td>
                                    <%= service.logFolderSize %>
                                </td>
                                <td><button class="download-btn">Download</button><button
                                        class="purge-btn">Delete</button>
                                </td>

                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Section 2: List of Files -->
        <section class="file-list">
            <h2>By Files</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Created on</th>
                            <th>Size</th>
                            <th>Service Name</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% filesData.forEach(file=> { %>
                            <tr>
                                <td>
                                    <%= file.fileName %>
                                </td>
                                <td>
                                    <%= file.creationDate %>
                                </td>
                                <td>
                                    <%= file.size %>
                                </td>
                                <td>
                                    <%= file.serviceName %>
                                </td>
                                <td>
                                    <%= file.path %>
                                </td>
                                <!-- <td><button class="download-btn">Download</button>
                                    <button class="purge-btn">Purge</button>
                                </td> -->
                                <td>
                                    <div class="button-container">
                                        <button class="download-btn">Download</button>
                                        <button class="purge-btn">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>

<script>
    function refreshData() {
        // Add logic to refresh or fetch data from the server
        // For example, you can reload the page to refresh all data
        location.reload();
    }
</script>

</html>