<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <title>Log Analyzer Dashboard</title>
</head>

<body>
    <div class="dashboard">

        <!-- Title and Generate Report Button -->
        <div class="header">
            <h1 class="dashboard-title">
                <img src="/src/logo-main.png" alt="Log Analyzer Logo" class="logo-img"> Log Analyzer
            </h1>
            <button class="generate-report-btn" onclick="generateReport()">
                Generate Report
            </button>
            <button class="refresh-btn" onclick="refreshData()">
                Refresh
            </button>
        </div>

        <!-- Section 1: Overview -->
        <h2>Overview</h2>
        <section class="overview">
            <div class="box" id="totalFileCount">
                <h2>Total File</h2>
                <div class="box-content">
                    <p><i>
                            <img src="/src/logfile.png" alt="sss" class="icon-img">
                        </i></p>

                    <p>
                        <%= overview.file %>
                    </p>
                </div>
            </div>

            <div class="box" id="totalFileSize">
                <h2>Total Size</h2>
                <div class="box-content">
                    <p><i>
                            <img src="/src/storage.png" alt="sss" class="icon-img">
                        </i></p>
                    <p>
                        <%= overview.size %>
                    </p>
                </div>
            </div>

            <div class="box" id="totalServices">
                <h2>Total Services</h2>
                <div class="box-content">
                    <p><i>
                            <img src="/src/services.png" alt="sss" class="icon-img"">
                        </i></p>
                    <p>
                        <%= overview.totalMicroservices %>
                    </p>
                </div>
            </div>

            <div class=" box" id="status">
                            <h2>Status</h2>
                            <div class="box-content">
                                <p><i>
                                        <img src="/src/status.png" alt="sss" class="icon-img">
                                    </i></p>
                                <p>
                                    <%= overview.level %><span
                                            class="status-indicator <%= getStatusIndicatorClass(overview.level) %>"></span>
                                </p>
                            </div>
                </div>

                <div class="box" id="uptime">
                    <h2>Uptime</h2>
                    <div class="box-content">
                        <p>
                            <i>
                                <img src="/src/uptime.png" alt="sss" class="icon-img">
                            </i>
                        </p>
                        <p>
                            <%= overview.uptime %>
                        </p>
                    </div>
                </div>
        </section>

        <!-- Section 3: List of Services -->
        <section class="service-list">
            <h2>By Services</h2>
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Service Name</th>
                            <th>Log Path</th>
                            <th>Size</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% servicesData.forEach(service=> { %>
                            <tr>
                                <td>
                                    <%= service.serviceName %>
                                </td>
                                <td>
                                    <%= service.logFolderPath %>
                                </td>
                                <td>
                                    <%= service.logFolderSize %>
                                </td>
                                <td>
                                    <button class="btn btn-primary"
                                        onclick="downloadFolder('<%= service.logFolderPath %>')">Download</button>

                                    <button class="btn btn-danger"
                                        onclick="deleteFolder('<%= service.logFolderPath %>')">Delete</button>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- Section 2: List of Files -->
        <section class="file-list">
            <h2>By Files</h2>
            <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>File Name</th>
                            <th>Created on</th>
                            <th>Size</th>
                            <th>Service Name</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% filesData.forEach(file=> { %>
                            <tr>
                                <td>
                                    <%= file.fileName %>
                                </td>
                                <td>
                                    <%= file.creationDate %>
                                </td>
                                <td>
                                    <%= file.size %>
                                </td>
                                <td>
                                    <%= file.serviceName %>
                                </td>
                                <td>
                                    <%= file.path %>
                                </td>
                                <td>
                                    <div class="button-container">
                                        <a href="/download/file/<%= file.fileName %>/<%=file.serviceName%>"
                                            class="btn btn-primary">Download
                                            file</a>
                                        <a href="/delete/file/<%= file.fileName %>/<%=file.serviceName%>"
                                            class="btn btn-danger">Delete
                                            file</a>
                                        <!-- <button class="btn btn-danger"
                                            onclick="deleteFolder('<%= file.path %>')">Delete</button> -->
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>

<script>
    function refreshData() {
        location.reload();
    }

    function downloadFolder(logFolderPath) {
        window.location.href = "/download/folder/" + logFolderPath;
    }

    function deleteFolder(logFolderPath) {
        alert(logFolderPath);
        console.log('logFolderPath-->' + logFolderPath)
    }
</script>

</html>